<suite name="Suite" thread-count="1" parallel="classes">
    <test name="TestChrome">
        <parameter name="browser" value="Chrome"></parameter>
        <classes>
            <class name="lms.ui.hackathon.runner.TestRunner"/>
            <class name="lms.ui.hackathon.runner.FailedTestRunner"/>
        </classes>
    </test>  
    <test name="Testfirefox">
        <parameter name="browser" value="firefox"></parameter>
        <classes>
            <class name="lms.ui.hackathon.runner.TestRunner"/>
            <class name="lms.ui.hackathon.runner.FailedTestRunner"/>
        </classes>
    </test>  
    <test name="Testedge">
        <parameter name="browser" value="edge"></parameter>
        <classes>
            <class name="lms.ui.hackathon.runner.TestRunner"/>
            <class name="lms.ui.hackathon.runner.FailedTestRunner"/>
        </classes>
    </test>  
</suite>
